@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

html, body {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: "Noto Sans", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 30%;
    height: 50%;
    background: #151922;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    opacity: 0;
    transform: scale(0.95);
    transition: 0.25s ease;
    /* border: 2px solid #e48922; */
}
#app.show {
    opacity: 1;
    transform: scale(1);
}
.header {
    height: 70px;
    background: #1b2230;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.left {
    display: flex;
    align-items: center;
    gap: 9px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c3445;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.title {
    font-size: 16px;
    color: white;
    margin: 0;
}

.close {
    cursor: pointer;
    color: white;
    opacity: 0.7;
}
.close:hover {
    color: gray;
}

.container {
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: start;
    column-gap: 15px;
    row-gap: 15px;
    overflow-y: auto;
    flex: 1;
}

.container::-webkit-scrollbar {
    width: 6px;
}

.container::-webkit-scrollbar-thumb {
    background: #2c3445;
    border-radius: 10px;
}

.card {
    background: #1c2433;
    padding: 4px;
    border-radius: 5px;
    border-left: solid 3px #e48922;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

    opacity: 0;
    transform: translateY(4px);
    animation: fadeIn 0.2s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.vehicletitle {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 2.5px 0;
    color: white;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin-bottom: 8px;
    color: white;
}

.stats div {
    font-size: 11px;
}

.stats p {
    margin: 0;
    opacity: 0.7;
    font-size: 10px;
}

.btn {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 0px;
    font-size: 12px;
    cursor: pointer;
}

.button-group {
    display: flex;
    gap: 6px;
}

.rename {
    background: #2c3445;
    color: white;
}

.rename:hover {
    background: #3a445c;
}

.out {
    background: #e48922;
    color: #fff;
}

.in {
    background: #2a3346;
    color: #6c768a;
}

.modal {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal-box {
    width: 320px;
    background: #1c2433;
    border: 2px solid #e48922;
    border-radius: 10px;
    padding: 18px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    animation: popup 0.15s ease;
}

@keyframes popup {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-box h2 {
    margin: 0;
    color: white;
    font-size: 18px;
}

.modal-box input {
    background: #151922;
    border: 1px solid #2c3445;
    outline: none;
    color: white;

    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
}

.modal-buttons {
    display: flex;
    gap: 8px;
}

.modal-btn {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.cancel {
    background: #2c3445;
    color: white;
}

.save {
    background: #e48922;
    color: white;
}

.hidden {
    display: none;
}